@use 'sass:math';

.fixed-avatar {
  object-fit: cover;
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
	//width: 80%;
  width: 300px;
  height: 300px;
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 2px 15px 0px rgba(39, 113, 186, 0.343);
	transform: translatey(1px);
}

.floating-avatar {
  object-fit: cover;
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
  margin-bottom: 10px;
	//width: 80%;
  width: 300px;
  height: 300px;
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 2px 15px 0px rgba(39, 113, 186, 0.343);
	transform: translatey(1px);
	animation: float 1s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(39, 113, 186, 0.343);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(39, 113, 186, 0.343);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(39, 113, 186, 0.343);
		transform: translatey(0px);
	}
}

// body {
//   background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
//   height: 100vh;
//   overflow: hidden;
//   display: flex;
//   font-family: 'Anton', sans-serif;
//   justify-content: center;
//   align-items: center;
// }

$shooting-time: 2000ms;

.night {
  position: relative;
  width: 100%;
  height: 100%;
  // transform: rotateZ(45deg);
  // animation: sky 200000ms linear infinite;
}

.shooting_star {
  position: absolute;
  left: 45%; // Hero side
  // right: 25%; // Villain side
  top: 50%;
  bottom: 75%;
  // width: 100px;
  height: 8px;
  background: linear-gradient(-45deg, rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
  // background: linear-gradient(-45deg, var(--power-color), rgba(0, 0, 255, 0)); // Villain
  border-radius: 999px;
  filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));
  // filter: drop-shadow(0 0 6px rgb(130, 227, 11)); // Villain
  animation:
    tail $shooting-time ease-in-out 1,
    shooting $shooting-time ease-in-out 1;
  
  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: calc(50% - 1px);
  //   right: 20;
  //   // width: 30px;
  //   height: 0px;
  //   background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
  //   transform: translateX(50%) rotateZ(45deg);
  //   // transform: translateY(50%) rotateZ(45deg);
  //   border-radius: 100%;
  //   animation: shining $shooting-time ease-in-out infinite;
  // }

  // &::after {
  //   content: '';
  //   position: absolute;
  //   top: calc(50% - 1px);
  //   right: 20;
  //   // width: 30px;
  //   height: 0px;
  //   background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
  //   transform: translateX(50%) rotateZ(45deg);
  //   // transform: translateY(50%) rotateZ(45deg);
  //   border-radius: 100%;
  //   animation: shining $shooting-time ease-in-out infinite;
  //   transform: translateX(50%) rotateZ(-45deg);
  // }
  
  @for $i from 1 through 200 {
    &:nth-child(#{$i}) {
      $delay: random(10000) + 0ms;
      top: calc(50% - #{random(400) - 200px});
      left: calc(80% - #{random(200) + 0px}); // Hero
      // right: calc(35% - #{random(300) + 0px}); // Villain
      bottom: calc(70% - #{random(100) - 50px});
      animation-delay: $delay;
      opacity: math.div(random(50), 100) + 0.5;
      
      &::before,
      &::after {
        animation-delay: $delay;
        // opacity: 100;
      }
    }
  }
}

.shooting_star_villain {
  display: inline-block;
  justify-content: center;
  align-items: center;
  //padding: 30px;
  color: white;
  font-size: x-small;
  font-weight: bolder;

  position: absolute;
  right: 25%; // Villain side
  // left: 0; // Hero side
  top: 50%;
  bottom: 75%;
  // width: 100px;
  height: 8px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgb(227, 33, 8)); // Villain
  border-radius: 999px;
  filter: drop-shadow(0 0 6px rgb(227, 33, 8)); // Villain

  animation:
    tail $shooting-time ease-in-out 1,
    shootingVillain $shooting-time ease-in-out 1;

    // &::before {
    //   content: '';
    //   position: absolute;
    //   top: calc(50% - 1px);
    //   right: 0;
    //   // width: 30px;
    //   height: 2px;
    //   background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
    //   transform: translateX(50%) rotateZ(45deg);
    //   // transform: translateY(50%) rotateZ(45deg);
    //   border-radius: 100%;
    //   animation: shining $shooting-time ease-in-out infinite;
    // }
  
    // &::after {
    //   content: '';
    //   position: absolute;
    //   top: calc(50% - 1px);
    //   right: 0;
    //   // width: 30px;
    //   height: 2px;
    //   background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
    //   transform: translateX(50%) rotateZ(45deg);
    //   // transform: translateY(50%) rotateZ(45deg);
    //   border-radius: 100%;
    //   animation: shining $shooting-time ease-in-out infinite;
    //   transform: translateX(50%) rotateZ(-45deg);
    // }
    
  @for $i from 1 through 200 {
    &:nth-child(#{$i}) {
      $delay: random(10000) + 0ms;
      top: calc(50% - #{random(400) - 200px});
      right: calc(80% - #{random(200) + 0px}); // Villain
      bottom: calc(70% - #{random(100) - 50px});
      animation-delay: $delay;
      opacity: math.div(random(50), 100) + 0.5;
      
      &::before,
      &::after {
        animation-delay: $delay;
        visibility: hidden;
        // opacity: 100%;
      }
    }
  }
}

@keyframes tail {
  0% {
    width: 0px;
  }
  
  30% {
    width: 100px;
  }
  
  100% {
    width: 0px;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }
  
  50% {
    width: 30px;
  }
  
  100% {
    width: 0;
  }
}

@keyframes shooting {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(800px);
    opacity: 100%;
  }
}

@keyframes shootingVillain {
  0% {
    transform: translateX(0);
  }

  // 50% {
  //   transform: translateX(-760px); //rotate(25deg) //Right -> Left (Villain -> Hero)
  // }

  100% {
    transform: translateX(-760px); //rotate(25deg) //Right -> Left (Villain -> Hero)
    opacity: 100%;
  }
}